/* GERAL ==================================================   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-primaria: rgb(111, 0, 185);
  --cor-secundaria: rgb(218, 36, 255);
  --cor-rede-primaria: rgb(133, 96, 202);
  --cor-rede-secundaria: rgb(104, 87, 136);

  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* Body  */

body {
  background: url('https://wallpapercave.com/wp/wp9386541.jpg') no-repeat center;
  background-size: cover;

  font-family: 'VT323', monospace;
  color: #f3f3f3;
  font-size: 1.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 30px;
}

/* Main ==================================================   */

.cartao {
  background-color: #070d12;
  width: 37rem;

  border: 0.2rem solid var(--cor-primaria);
  box-shadow: 0 0.8rem 6.2rem 0 rgb(252, 211, 246);
  border-radius: 1rem;
  overflow: hidden;
}

.cartao .minhas-informacoes {
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cartao .minhas-informacoes img {
  width: 10rem;

  border-radius: 5rem;
  border: 0.4rem solid var(--cor-secundaria);
}

.cartao .minhas-informacoes .nome {
  font-size: 2.6rem;
}

.cartao .minhas-informacoes .cargo {
  font-size: 2rem;
  color: #b8bbc5;
}

.cartao .conteudo {
  margin-top: 1.5rem;
}

.cartao .abas {
  display: flex;
}

.cartao .abas .aba {
  display: flex;
  justify-content: center;

  width: 50%;
  padding: 1rem 0;

  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cartao .abas img {
  width: 3rem;
}

.cartao .abas .aba.selecionado {
  background-color: #262626;
}

.cartao .informacoes-abas {
  background-color: #262626;
}

.cartao .abas .aba:hover {
  background-color: #414141;
}

.informacoes-abas .informacao {
  min-height: 26rem;
  padding: 1.5rem;

  display: none;
}

.informacoes-abas .informacao.selecionado {
  display: block;
}

.informacoes-abas .sub-titulo {
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.informacoes-abas .descricao {
  font-size: 2rem;
  max-height: 18rem;
  overflow-y: auto;
}

.informacoes-abas .descricao span {
  color: var(--cor-secundaria);
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  max-height: 18rem;
  overflow-y: auto;
}

.redes-sociais li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 6rem;

  width: 25rem;
  cursor: pointer;

  transition: background-color 0.3s ease-in-out;
}

.redes-sociais li:hover {
  background-color: rgba(148, 76, 207, 0.61);
  box-shadow: 0 0.8rem 1.2rem 0 rgba(136, 84, 231, 0.445);
}

.redes-sociais li a {
  display: block;

  padding: 1rem;

  color: #f3f3f3;
  font-size: 2rem;

  transition: opacity 0.3s ease-in-out;
}

.redes-sociais li a:hover {
  opacity: 0.8;
}

.redes-sociais .codepen {
  background-color: var(--cor-rede-primaria);
}

.redes-sociais .linkedin {
  background-color: var(--cor-rede-secundaria);
}

.redes-sociais .github {
  background-color: var(--cor-rede-primaria);
}

*::-webkit-scrollbar {
  width: 1.2rem;
}

*::-webkit-scrollbar-track {
  background: #070d12;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--cor-primaria);
  border-radius: 2rem;
  border: 0.3rem solid #070d12;
}